<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Only allow packages from the official NuGet feed -->
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <!-- Require signed packages from trusted publishers -->
  <trustedSigners>
    <repository name="nuget.org" serviceIndex="https://api.nuget.org/v3/index.json">
      <certificate fingerprint="0E5F38F57DC1BCC806D8494F4F90FBCEDD988B46760709CBEEC6F4219AA6157D" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <owners>Microsoft;ClosedXML;JamesNK;xunit</owners>
    </repository>
  </trustedSigners>
</configuration>
